<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>a-myanmar</key>
    <string>a-myanmar.glif</string>
    <key>a-myanmar.sub</key>
    <string>a-myanmar.sub.glif</string>
    <key>aa-myanmar</key>
    <string>aa-myanmar.glif</string>
    <key>aforementioned-myanmar</key>
    <string>aforementioned-myanmar.glif</string>
    <key>ai-myanmar</key>
    <string>ai-myanmar.glif</string>
    <key>anusvara-myanmar</key>
    <string>anusvara-myanmar.glif</string>
    <key>asat-myanmar</key>
    <string>asat-myanmar.glif</string>
    <key>au.indep-myanmar</key>
    <string>au.indep-myanmar.glif</string>
    <key>ba-myanmar</key>
    <string>ba-myanmar.glif</string>
    <key>ba-myanmar.sub</key>
    <string>ba-myanmar.sub.glif</string>
    <key>bha-myanmar</key>
    <string>bha-myanmar.glif</string>
    <key>bha-myanmar.sub</key>
    <string>bha-myanmar.sub.glif</string>
    <key>ca-myanmar</key>
    <string>ca-myanmar.glif</string>
    <key>ca-myanmar.sub</key>
    <string>ca-myanmar.sub.glif</string>
    <key>cha-myanmar</key>
    <string>cha-myanmar.glif</string>
    <key>cha-myanmar.sub</key>
    <string>cha-myanmar.sub.glif</string>
    <key>completed-myanmar</key>
    <string>completed-myanmar.glif</string>
    <key>da-myanmar</key>
    <string>da-myanmar.glif</string>
    <key>da-myanmar.sub</key>
    <string>da-myanmar.sub.glif</string>
    <key>dda-myanmar</key>
    <string>dda-myanmar.glif</string>
    <key>dda-myanmar.sub</key>
    <string>dda-myanmar.sub.glif</string>
    <key>ddha-myanmar</key>
    <string>ddha-myanmar.glif</string>
    <key>ddha-myanmar.sub</key>
    <string>ddha-myanmar.sub.glif</string>
    <key>dha-myanmar</key>
    <string>dha-myanmar.glif</string>
    <key>dha-myanmar.sub</key>
    <string>dha-myanmar.sub.glif</string>
    <key>dotBelow-myanmar</key>
    <string>dotB_elow-myanmar.glif</string>
    <key>e-myanmar</key>
    <string>e-myanmar.glif</string>
    <key>e.indep-myanmar</key>
    <string>e.indep-myanmar.glif</string>
    <key>eight-myanmar</key>
    <string>eight-myanmar.glif</string>
    <key>five-myanmar</key>
    <string>five-myanmar.glif</string>
    <key>four-myanmar</key>
    <string>four-myanmar.glif</string>
    <key>ga-myanmar</key>
    <string>ga-myanmar.glif</string>
    <key>ga-myanmar.sub</key>
    <string>ga-myanmar.sub.glif</string>
    <key>genitive-myanmar</key>
    <string>genitive-myanmar.glif</string>
    <key>gha-myanmar</key>
    <string>gha-myanmar.glif</string>
    <key>gha-myanmar.sub</key>
    <string>gha-myanmar.sub.glif</string>
    <key>greatSa-myanmar</key>
    <string>greatS_a-myanmar.glif</string>
    <key>ha-myanmar</key>
    <string>ha-myanmar.glif</string>
    <key>ha-myanmar.sub</key>
    <string>ha-myanmar.sub.glif</string>
    <key>i-myanmar</key>
    <string>i-myanmar.glif</string>
    <key>i.indep-myanmar</key>
    <string>i.indep-myanmar.glif</string>
    <key>ii-myanmar</key>
    <string>ii-myanmar.glif</string>
    <key>ii.indep-myanmar</key>
    <string>ii.indep-myanmar.glif</string>
    <key>ja-myanmar</key>
    <string>ja-myanmar.glif</string>
    <key>ja-myanmar.sub</key>
    <string>ja-myanmar.sub.glif</string>
    <key>jha-myanmar</key>
    <string>jha-myanmar.glif</string>
    <key>jha-myanmar.sub</key>
    <string>jha-myanmar.sub.glif</string>
    <key>ka-myanmar</key>
    <string>ka-myanmar.glif</string>
    <key>ka-myanmar.sub</key>
    <string>ka-myanmar.sub.glif</string>
    <key>kha-myanmar</key>
    <string>kha-myanmar.glif</string>
    <key>kha-myanmar.sub</key>
    <string>kha-myanmar.sub.glif</string>
    <key>kinzi-myanmar</key>
    <string>kinzi-myanmar.glif</string>
    <key>la-myanmar</key>
    <string>la-myanmar.glif</string>
    <key>la-myanmar.sub</key>
    <string>la-myanmar.sub.glif</string>
    <key>lla-myanmar</key>
    <string>lla-myanmar.glif</string>
    <key>lla-myanmar.sub</key>
    <string>lla-myanmar.sub.glif</string>
    <key>locative-myanmar</key>
    <string>locative-myanmar.glif</string>
    <key>ma-myanmar</key>
    <string>ma-myanmar.glif</string>
    <key>ma-myanmar.sub</key>
    <string>ma-myanmar.sub.glif</string>
    <key>medialHa-myanmar</key>
    <string>medialH_a-myanmar.glif</string>
    <key>medialRa-myanmar</key>
    <string>medialR_a-myanmar.glif</string>
    <key>medialRa-myanmar.wide</key>
    <string>medialR_a-myanmar.wide.glif</string>
    <key>medialWa-myanmar</key>
    <string>medialW_a-myanmar.glif</string>
    <key>medialYa-myanmar</key>
    <string>medialY_a-myanmar.glif</string>
    <key>na-myanmar</key>
    <string>na-myanmar.glif</string>
    <key>na-myanmar.sub</key>
    <string>na-myanmar.sub.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>nga-myanmar</key>
    <string>nga-myanmar.glif</string>
    <key>nga-myanmar.sub</key>
    <string>nga-myanmar.sub.glif</string>
    <key>nine-myanmar</key>
    <string>nine-myanmar.glif</string>
    <key>nna-myanmar</key>
    <string>nna-myanmar.glif</string>
    <key>nna-myanmar.sub</key>
    <string>nna-myanmar.sub.glif</string>
    <key>nnya-myanmar</key>
    <string>nnya-myanmar.glif</string>
    <key>nnya-myanmar.sub</key>
    <string>nnya-myanmar.sub.glif</string>
    <key>nya-myanmar</key>
    <string>nya-myanmar.glif</string>
    <key>nya-myanmar.sub</key>
    <string>nya-myanmar.sub.glif</string>
    <key>o.indep-myanmar</key>
    <string>o.indep-myanmar.glif</string>
    <key>one-myanmar</key>
    <string>one-myanmar.glif</string>
    <key>pa-myanmar</key>
    <string>pa-myanmar.glif</string>
    <key>pa-myanmar.sub</key>
    <string>pa-myanmar.sub.glif</string>
    <key>pha-myanmar</key>
    <string>pha-myanmar.glif</string>
    <key>pha-myanmar.sub</key>
    <string>pha-myanmar.sub.glif</string>
    <key>ra-myanmar</key>
    <string>ra-myanmar.glif</string>
    <key>ra-myanmar.sub</key>
    <string>ra-myanmar.sub.glif</string>
    <key>sa-myanmar</key>
    <string>sa-myanmar.glif</string>
    <key>sa-myanmar.sub</key>
    <string>sa-myanmar.sub.glif</string>
    <key>section-myanmar</key>
    <string>section-myanmar.glif</string>
    <key>sectionMark-myanmar</key>
    <string>sectionM_ark-myanmar.glif</string>
    <key>seven-myanmar</key>
    <string>seven-myanmar.glif</string>
    <key>six-myanmar</key>
    <string>six-myanmar.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>ta-myanmar</key>
    <string>ta-myanmar.glif</string>
    <key>ta-myanmar.sub</key>
    <string>ta-myanmar.sub.glif</string>
    <key>tallAa-myanmar</key>
    <string>tallA_a-myanmar.glif</string>
    <key>tha-myanmar</key>
    <string>tha-myanmar.glif</string>
    <key>tha-myanmar.sub</key>
    <string>tha-myanmar.sub.glif</string>
    <key>three-myanmar</key>
    <string>three-myanmar.glif</string>
    <key>tta-myanmar</key>
    <string>tta-myanmar.glif</string>
    <key>tta-myanmar.sub</key>
    <string>tta-myanmar.sub.glif</string>
    <key>ttha-myanmar</key>
    <string>ttha-myanmar.glif</string>
    <key>ttha-myanmar.sub</key>
    <string>ttha-myanmar.sub.glif</string>
    <key>two-myanmar</key>
    <string>two-myanmar.glif</string>
    <key>u-myanmar</key>
    <string>u-myanmar.glif</string>
    <key>u-myanmar.alt</key>
    <string>u-myanmar.alt.glif</string>
    <key>u.indep-myanmar</key>
    <string>u.indep-myanmar.glif</string>
    <key>uni0021</key>
    <string>uni0021.glif</string>
    <key>uni0022</key>
    <string>uni0022.glif</string>
    <key>uni0023</key>
    <string>uni0023.glif</string>
    <key>uni0024</key>
    <string>uni0024.glif</string>
    <key>uni0025</key>
    <string>uni0025.glif</string>
    <key>uni0026</key>
    <string>uni0026.glif</string>
    <key>uni0027</key>
    <string>uni0027.glif</string>
    <key>uni0028</key>
    <string>uni0028.glif</string>
    <key>uni0029</key>
    <string>uni0029.glif</string>
    <key>uni002A</key>
    <string>uni002A_.glif</string>
    <key>uni002B</key>
    <string>uni002B_.glif</string>
    <key>uni002C</key>
    <string>uni002C_.glif</string>
    <key>uni002D</key>
    <string>uni002D_.glif</string>
    <key>uni002E</key>
    <string>uni002E_.glif</string>
    <key>uni002F</key>
    <string>uni002F_.glif</string>
    <key>uni0030</key>
    <string>uni0030.glif</string>
    <key>uni0031</key>
    <string>uni0031.glif</string>
    <key>uni0032</key>
    <string>uni0032.glif</string>
    <key>uni0033</key>
    <string>uni0033.glif</string>
    <key>uni0034</key>
    <string>uni0034.glif</string>
    <key>uni0035</key>
    <string>uni0035.glif</string>
    <key>uni0036</key>
    <string>uni0036.glif</string>
    <key>uni0037</key>
    <string>uni0037.glif</string>
    <key>uni0038</key>
    <string>uni0038.glif</string>
    <key>uni0039</key>
    <string>uni0039.glif</string>
    <key>uni003A</key>
    <string>uni003A_.glif</string>
    <key>uni003B</key>
    <string>uni003B_.glif</string>
    <key>uni003C</key>
    <string>uni003C_.glif</string>
    <key>uni003D</key>
    <string>uni003D_.glif</string>
    <key>uni003E</key>
    <string>uni003E_.glif</string>
    <key>uni003F</key>
    <string>uni003F_.glif</string>
    <key>uni0040</key>
    <string>uni0040.glif</string>
    <key>uni0041</key>
    <string>uni0041.glif</string>
    <key>uni0042</key>
    <string>uni0042.glif</string>
    <key>uni0043</key>
    <string>uni0043.glif</string>
    <key>uni0044</key>
    <string>uni0044.glif</string>
    <key>uni0045</key>
    <string>uni0045.glif</string>
    <key>uni0046</key>
    <string>uni0046.glif</string>
    <key>uni0047</key>
    <string>uni0047.glif</string>
    <key>uni0048</key>
    <string>uni0048.glif</string>
    <key>uni0049</key>
    <string>uni0049.glif</string>
    <key>uni004A</key>
    <string>uni004A_.glif</string>
    <key>uni004B</key>
    <string>uni004B_.glif</string>
    <key>uni004C</key>
    <string>uni004C_.glif</string>
    <key>uni004D</key>
    <string>uni004D_.glif</string>
    <key>uni004E</key>
    <string>uni004E_.glif</string>
    <key>uni004F</key>
    <string>uni004F_.glif</string>
    <key>uni0050</key>
    <string>uni0050.glif</string>
    <key>uni0051</key>
    <string>uni0051.glif</string>
    <key>uni0052</key>
    <string>uni0052.glif</string>
    <key>uni0053</key>
    <string>uni0053.glif</string>
    <key>uni0054</key>
    <string>uni0054.glif</string>
    <key>uni0055</key>
    <string>uni0055.glif</string>
    <key>uni0056</key>
    <string>uni0056.glif</string>
    <key>uni0057</key>
    <string>uni0057.glif</string>
    <key>uni0058</key>
    <string>uni0058.glif</string>
    <key>uni0059</key>
    <string>uni0059.glif</string>
    <key>uni005A</key>
    <string>uni005A_.glif</string>
    <key>uni005B</key>
    <string>uni005B_.glif</string>
    <key>uni005C</key>
    <string>uni005C_.glif</string>
    <key>uni005D</key>
    <string>uni005D_.glif</string>
    <key>uni005E</key>
    <string>uni005E_.glif</string>
    <key>uni005F</key>
    <string>uni005F_.glif</string>
    <key>uni0060</key>
    <string>uni0060.glif</string>
    <key>uni0061</key>
    <string>uni0061.glif</string>
    <key>uni0062</key>
    <string>uni0062.glif</string>
    <key>uni0063</key>
    <string>uni0063.glif</string>
    <key>uni0064</key>
    <string>uni0064.glif</string>
    <key>uni0065</key>
    <string>uni0065.glif</string>
    <key>uni0066</key>
    <string>uni0066.glif</string>
    <key>uni0067</key>
    <string>uni0067.glif</string>
    <key>uni0068</key>
    <string>uni0068.glif</string>
    <key>uni0069</key>
    <string>uni0069.glif</string>
    <key>uni006A</key>
    <string>uni006A_.glif</string>
    <key>uni006B</key>
    <string>uni006B_.glif</string>
    <key>uni006C</key>
    <string>uni006C_.glif</string>
    <key>uni006D</key>
    <string>uni006D_.glif</string>
    <key>uni006E</key>
    <string>uni006E_.glif</string>
    <key>uni006F</key>
    <string>uni006F_.glif</string>
    <key>uni0070</key>
    <string>uni0070.glif</string>
    <key>uni0071</key>
    <string>uni0071.glif</string>
    <key>uni0072</key>
    <string>uni0072.glif</string>
    <key>uni0073</key>
    <string>uni0073.glif</string>
    <key>uni0074</key>
    <string>uni0074.glif</string>
    <key>uni0075</key>
    <string>uni0075.glif</string>
    <key>uni0076</key>
    <string>uni0076.glif</string>
    <key>uni0077</key>
    <string>uni0077.glif</string>
    <key>uni0078</key>
    <string>uni0078.glif</string>
    <key>uni0079</key>
    <string>uni0079.glif</string>
    <key>uni007A</key>
    <string>uni007A_.glif</string>
    <key>uni007B</key>
    <string>uni007B_.glif</string>
    <key>uni007C</key>
    <string>uni007C_.glif</string>
    <key>uni007D</key>
    <string>uni007D_.glif</string>
    <key>uni007E</key>
    <string>uni007E_.glif</string>
    <key>uni00A1</key>
    <string>uni00A_1.glif</string>
    <key>uni00A2</key>
    <string>uni00A_2.glif</string>
    <key>uni00A3</key>
    <string>uni00A_3.glif</string>
    <key>uni00A4</key>
    <string>uni00A_4.glif</string>
    <key>uni00A5</key>
    <string>uni00A_5.glif</string>
    <key>uni00A6</key>
    <string>uni00A_6.glif</string>
    <key>uni00A7</key>
    <string>uni00A_7.glif</string>
    <key>uni00A8</key>
    <string>uni00A_8.glif</string>
    <key>uni00A9</key>
    <string>uni00A_9.glif</string>
    <key>uni00AA</key>
    <string>uni00A_A_.glif</string>
    <key>uni00AB</key>
    <string>uni00A_B_.glif</string>
    <key>uni00AC</key>
    <string>uni00A_C_.glif</string>
    <key>uni00AE</key>
    <string>uni00A_E_.glif</string>
    <key>uni00AF</key>
    <string>uni00A_F_.glif</string>
    <key>uni00B0</key>
    <string>uni00B_0.glif</string>
    <key>uni00B1</key>
    <string>uni00B_1.glif</string>
    <key>uni00B2</key>
    <string>uni00B_2.glif</string>
    <key>uni00B3</key>
    <string>uni00B_3.glif</string>
    <key>uni00B4</key>
    <string>uni00B_4.glif</string>
    <key>uni00B5</key>
    <string>uni00B_5.glif</string>
    <key>uni00B6</key>
    <string>uni00B_6.glif</string>
    <key>uni00B7</key>
    <string>uni00B_7.glif</string>
    <key>uni00B8</key>
    <string>uni00B_8.glif</string>
    <key>uni00B9</key>
    <string>uni00B_9.glif</string>
    <key>uni00BA</key>
    <string>uni00B_A_.glif</string>
    <key>uni00BB</key>
    <string>uni00B_B_.glif</string>
    <key>uni00BC</key>
    <string>uni00B_C_.glif</string>
    <key>uni00BD</key>
    <string>uni00B_D_.glif</string>
    <key>uni00BE</key>
    <string>uni00B_E_.glif</string>
    <key>uni00BF</key>
    <string>uni00B_F_.glif</string>
    <key>uni00C0</key>
    <string>uni00C_0.glif</string>
    <key>uni00C1</key>
    <string>uni00C_1.glif</string>
    <key>uni00C2</key>
    <string>uni00C_2.glif</string>
    <key>uni00C3</key>
    <string>uni00C_3.glif</string>
    <key>uni00C4</key>
    <string>uni00C_4.glif</string>
    <key>uni00C5</key>
    <string>uni00C_5.glif</string>
    <key>uni00C6</key>
    <string>uni00C_6.glif</string>
    <key>uni00C7</key>
    <string>uni00C_7.glif</string>
    <key>uni00C8</key>
    <string>uni00C_8.glif</string>
    <key>uni00C9</key>
    <string>uni00C_9.glif</string>
    <key>uni00CA</key>
    <string>uni00C_A_.glif</string>
    <key>uni00CB</key>
    <string>uni00C_B_.glif</string>
    <key>uni00CC</key>
    <string>uni00C_C_.glif</string>
    <key>uni00CD</key>
    <string>uni00C_D_.glif</string>
    <key>uni00CE</key>
    <string>uni00C_E_.glif</string>
    <key>uni00CF</key>
    <string>uni00C_F_.glif</string>
    <key>uni00D0</key>
    <string>uni00D_0.glif</string>
    <key>uni00D1</key>
    <string>uni00D_1.glif</string>
    <key>uni00D2</key>
    <string>uni00D_2.glif</string>
    <key>uni00D3</key>
    <string>uni00D_3.glif</string>
    <key>uni00D4</key>
    <string>uni00D_4.glif</string>
    <key>uni00D5</key>
    <string>uni00D_5.glif</string>
    <key>uni00D6</key>
    <string>uni00D_6.glif</string>
    <key>uni00D7</key>
    <string>uni00D_7.glif</string>
    <key>uni00D8</key>
    <string>uni00D_8.glif</string>
    <key>uni00D9</key>
    <string>uni00D_9.glif</string>
    <key>uni00DA</key>
    <string>uni00D_A_.glif</string>
    <key>uni00DB</key>
    <string>uni00D_B_.glif</string>
    <key>uni00DC</key>
    <string>uni00D_C_.glif</string>
    <key>uni00DD</key>
    <string>uni00D_D_.glif</string>
    <key>uni00DE</key>
    <string>uni00D_E_.glif</string>
    <key>uni00DF</key>
    <string>uni00D_F_.glif</string>
    <key>uni00E0</key>
    <string>uni00E_0.glif</string>
    <key>uni00E1</key>
    <string>uni00E_1.glif</string>
    <key>uni00E2</key>
    <string>uni00E_2.glif</string>
    <key>uni00E3</key>
    <string>uni00E_3.glif</string>
    <key>uni00E4</key>
    <string>uni00E_4.glif</string>
    <key>uni00E5</key>
    <string>uni00E_5.glif</string>
    <key>uni00E6</key>
    <string>uni00E_6.glif</string>
    <key>uni00E7</key>
    <string>uni00E_7.glif</string>
    <key>uni00E8</key>
    <string>uni00E_8.glif</string>
    <key>uni00E9</key>
    <string>uni00E_9.glif</string>
    <key>uni00EA</key>
    <string>uni00E_A_.glif</string>
    <key>uni00EB</key>
    <string>uni00E_B_.glif</string>
    <key>uni00EC</key>
    <string>uni00E_C_.glif</string>
    <key>uni00ED</key>
    <string>uni00E_D_.glif</string>
    <key>uni00EE</key>
    <string>uni00E_E_.glif</string>
    <key>uni00EF</key>
    <string>uni00E_F_.glif</string>
    <key>uni00F0</key>
    <string>uni00F_0.glif</string>
    <key>uni00F1</key>
    <string>uni00F_1.glif</string>
    <key>uni00F2</key>
    <string>uni00F_2.glif</string>
    <key>uni00F3</key>
    <string>uni00F_3.glif</string>
    <key>uni00F4</key>
    <string>uni00F_4.glif</string>
    <key>uni00F5</key>
    <string>uni00F_5.glif</string>
    <key>uni00F6</key>
    <string>uni00F_6.glif</string>
    <key>uni00F7</key>
    <string>uni00F_7.glif</string>
    <key>uni00F8</key>
    <string>uni00F_8.glif</string>
    <key>uni00F9</key>
    <string>uni00F_9.glif</string>
    <key>uni00FA</key>
    <string>uni00F_A_.glif</string>
    <key>uni00FB</key>
    <string>uni00F_B_.glif</string>
    <key>uni00FC</key>
    <string>uni00F_C_.glif</string>
    <key>uni00FD</key>
    <string>uni00F_D_.glif</string>
    <key>uni00FE</key>
    <string>uni00F_E_.glif</string>
    <key>uni00FF</key>
    <string>uni00F_F_.glif</string>
    <key>uni1022</key>
    <string>uni1022.glif</string>
    <key>uni1028</key>
    <string>uni1028.glif</string>
    <key>uni1033</key>
    <string>uni1033.glif</string>
    <key>uni1034</key>
    <string>uni1034.glif</string>
    <key>uni1035</key>
    <string>uni1035.glif</string>
    <key>uni1050</key>
    <string>uni1050.glif</string>
    <key>uni1051</key>
    <string>uni1051.glif</string>
    <key>uni1052</key>
    <string>uni1052.glif</string>
    <key>uni1053</key>
    <string>uni1053.glif</string>
    <key>uni1054</key>
    <string>uni1054.glif</string>
    <key>uni1055</key>
    <string>uni1055.glif</string>
    <key>uni1056</key>
    <string>uni1056.glif</string>
    <key>uni1057</key>
    <string>uni1057.glif</string>
    <key>uni1058</key>
    <string>uni1058.glif</string>
    <key>uni1059</key>
    <string>uni1059.glif</string>
    <key>uni105A</key>
    <string>uni105A_.glif</string>
    <key>uni105B</key>
    <string>uni105B_.glif</string>
    <key>uni105C</key>
    <string>uni105C_.glif</string>
    <key>uni105D</key>
    <string>uni105D_.glif</string>
    <key>uni105E</key>
    <string>uni105E_.glif</string>
    <key>uni105F</key>
    <string>uni105F_.glif</string>
    <key>uni1060</key>
    <string>uni1060.glif</string>
    <key>uni1061</key>
    <string>uni1061.glif</string>
    <key>uni1062</key>
    <string>uni1062.glif</string>
    <key>uni1063</key>
    <string>uni1063.glif</string>
    <key>uni1064</key>
    <string>uni1064.glif</string>
    <key>uni1065</key>
    <string>uni1065.glif</string>
    <key>uni1066</key>
    <string>uni1066.glif</string>
    <key>uni1067</key>
    <string>uni1067.glif</string>
    <key>uni1068</key>
    <string>uni1068.glif</string>
    <key>uni1069</key>
    <string>uni1069.glif</string>
    <key>uni106A</key>
    <string>uni106A_.glif</string>
    <key>uni106B</key>
    <string>uni106B_.glif</string>
    <key>uni106C</key>
    <string>uni106C_.glif</string>
    <key>uni106D</key>
    <string>uni106D_.glif</string>
    <key>uni106E</key>
    <string>uni106E_.glif</string>
    <key>uni106F</key>
    <string>uni106F_.glif</string>
    <key>uni1070</key>
    <string>uni1070.glif</string>
    <key>uni1071</key>
    <string>uni1071.glif</string>
    <key>uni1072</key>
    <string>uni1072.glif</string>
    <key>uni1073</key>
    <string>uni1073.glif</string>
    <key>uni1074</key>
    <string>uni1074.glif</string>
    <key>uni1075</key>
    <string>uni1075.glif</string>
    <key>uni1076</key>
    <string>uni1076.glif</string>
    <key>uni1077</key>
    <string>uni1077.glif</string>
    <key>uni1078</key>
    <string>uni1078.glif</string>
    <key>uni1079</key>
    <string>uni1079.glif</string>
    <key>uni107A</key>
    <string>uni107A_.glif</string>
    <key>uni107B</key>
    <string>uni107B_.glif</string>
    <key>uni107C</key>
    <string>uni107C_.glif</string>
    <key>uni107D</key>
    <string>uni107D_.glif</string>
    <key>uni107E</key>
    <string>uni107E_.glif</string>
    <key>uni107F</key>
    <string>uni107F_.glif</string>
    <key>uni1080</key>
    <string>uni1080.glif</string>
    <key>uni1081</key>
    <string>uni1081.glif</string>
    <key>uni1082</key>
    <string>uni1082.glif</string>
    <key>uni1083</key>
    <string>uni1083.glif</string>
    <key>uni1084</key>
    <string>uni1084.glif</string>
    <key>uni1085</key>
    <string>uni1085.glif</string>
    <key>uni1086</key>
    <string>uni1086.glif</string>
    <key>uni1087</key>
    <string>uni1087.glif</string>
    <key>uni1088</key>
    <string>uni1088.glif</string>
    <key>uni1089</key>
    <string>uni1089.glif</string>
    <key>uni108A</key>
    <string>uni108A_.glif</string>
    <key>uni108B</key>
    <string>uni108B_.glif</string>
    <key>uni108C</key>
    <string>uni108C_.glif</string>
    <key>uni108D</key>
    <string>uni108D_.glif</string>
    <key>uni108E</key>
    <string>uni108E_.glif</string>
    <key>uni108F</key>
    <string>uni108F_.glif</string>
    <key>uni1090</key>
    <string>uni1090.glif</string>
    <key>uni1091</key>
    <string>uni1091.glif</string>
    <key>uni1092</key>
    <string>uni1092.glif</string>
    <key>uni1093</key>
    <string>uni1093.glif</string>
    <key>uni1094</key>
    <string>uni1094.glif</string>
    <key>uni1095</key>
    <string>uni1095.glif</string>
    <key>uni1096</key>
    <string>uni1096.glif</string>
    <key>uni1097</key>
    <string>uni1097.glif</string>
    <key>uni1098</key>
    <string>uni1098.glif</string>
    <key>uni1099</key>
    <string>uni1099.glif</string>
    <key>uni109A</key>
    <string>uni109A_.glif</string>
    <key>uni109B</key>
    <string>uni109B_.glif</string>
    <key>uni109C</key>
    <string>uni109C_.glif</string>
    <key>uni109D</key>
    <string>uni109D_.glif</string>
    <key>uni109E</key>
    <string>uni109E_.glif</string>
    <key>uni109F</key>
    <string>uni109F_.glif</string>
    <key>uni2013</key>
    <string>uni2013.glif</string>
    <key>uni2014</key>
    <string>uni2014.glif</string>
    <key>uni2018</key>
    <string>uni2018.glif</string>
    <key>uni2019</key>
    <string>uni2019.glif</string>
    <key>uni201C</key>
    <string>uni201C_.glif</string>
    <key>uni201D</key>
    <string>uni201D_.glif</string>
    <key>uni2022</key>
    <string>uni2022.glif</string>
    <key>uni2026</key>
    <string>uni2026.glif</string>
    <key>uni20AC</key>
    <string>uni20A_C_.glif</string>
    <key>uni2122</key>
    <string>uni2122.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniA9E0</key>
    <string>uniA_9E_0.glif</string>
    <key>uniA9E1</key>
    <string>uniA_9E_1.glif</string>
    <key>uniA9E2</key>
    <string>uniA_9E_2.glif</string>
    <key>uniA9E3</key>
    <string>uniA_9E_3.glif</string>
    <key>uniA9E4</key>
    <string>uniA_9E_4.glif</string>
    <key>uniA9E5</key>
    <string>uniA_9E_5.glif</string>
    <key>uniA9E6</key>
    <string>uniA_9E_6.glif</string>
    <key>uniA9E7</key>
    <string>uniA_9E_7.glif</string>
    <key>uniA9E8</key>
    <string>uniA_9E_8.glif</string>
    <key>uniA9E9</key>
    <string>uniA_9E_9.glif</string>
    <key>uniA9EA</key>
    <string>uniA_9E_A_.glif</string>
    <key>uniA9EB</key>
    <string>uniA_9E_B_.glif</string>
    <key>uniA9EC</key>
    <string>uniA_9E_C_.glif</string>
    <key>uniA9ED</key>
    <string>uniA_9E_D_.glif</string>
    <key>uniA9EE</key>
    <string>uniA_9E_E_.glif</string>
    <key>uniA9EF</key>
    <string>uniA_9E_F_.glif</string>
    <key>uniA9F0</key>
    <string>uniA_9F_0.glif</string>
    <key>uniA9F1</key>
    <string>uniA_9F_1.glif</string>
    <key>uniA9F2</key>
    <string>uniA_9F_2.glif</string>
    <key>uniA9F3</key>
    <string>uniA_9F_3.glif</string>
    <key>uniA9F4</key>
    <string>uniA_9F_4.glif</string>
    <key>uniA9F5</key>
    <string>uniA_9F_5.glif</string>
    <key>uniA9F6</key>
    <string>uniA_9F_6.glif</string>
    <key>uniA9F7</key>
    <string>uniA_9F_7.glif</string>
    <key>uniA9F8</key>
    <string>uniA_9F_8.glif</string>
    <key>uniA9F9</key>
    <string>uniA_9F_9.glif</string>
    <key>uniA9FA</key>
    <string>uniA_9F_A_.glif</string>
    <key>uniA9FB</key>
    <string>uniA_9F_B_.glif</string>
    <key>uniA9FC</key>
    <string>uniA_9F_C_.glif</string>
    <key>uniA9FD</key>
    <string>uniA_9F_D_.glif</string>
    <key>uniA9FE</key>
    <string>uniA_9F_E_.glif</string>
    <key>uniAA60</key>
    <string>uniA_A_60.glif</string>
    <key>uniAA61</key>
    <string>uniA_A_61.glif</string>
    <key>uniAA62</key>
    <string>uniA_A_62.glif</string>
    <key>uniAA63</key>
    <string>uniA_A_63.glif</string>
    <key>uniAA64</key>
    <string>uniA_A_64.glif</string>
    <key>uniAA65</key>
    <string>uniA_A_65.glif</string>
    <key>uniAA66</key>
    <string>uniA_A_66.glif</string>
    <key>uniAA67</key>
    <string>uniA_A_67.glif</string>
    <key>uniAA68</key>
    <string>uniA_A_68.glif</string>
    <key>uniAA69</key>
    <string>uniA_A_69.glif</string>
    <key>uniAA6A</key>
    <string>uniA_A_6A_.glif</string>
    <key>uniAA6B</key>
    <string>uniA_A_6B_.glif</string>
    <key>uniAA6C</key>
    <string>uniA_A_6C_.glif</string>
    <key>uniAA6D</key>
    <string>uniA_A_6D_.glif</string>
    <key>uniAA6E</key>
    <string>uniA_A_6E_.glif</string>
    <key>uniAA6F</key>
    <string>uniA_A_6F_.glif</string>
    <key>uniAA70</key>
    <string>uniA_A_70.glif</string>
    <key>uniAA71</key>
    <string>uniA_A_71.glif</string>
    <key>uniAA72</key>
    <string>uniA_A_72.glif</string>
    <key>uniAA73</key>
    <string>uniA_A_73.glif</string>
    <key>uniAA74</key>
    <string>uniA_A_74.glif</string>
    <key>uniAA75</key>
    <string>uniA_A_75.glif</string>
    <key>uniAA76</key>
    <string>uniA_A_76.glif</string>
    <key>uniAA77</key>
    <string>uniA_A_77.glif</string>
    <key>uniAA78</key>
    <string>uniA_A_78.glif</string>
    <key>uniAA79</key>
    <string>uniA_A_79.glif</string>
    <key>uniAA7A</key>
    <string>uniA_A_7A_.glif</string>
    <key>uniAA7B</key>
    <string>uniA_A_7B_.glif</string>
    <key>uniAA7C</key>
    <string>uniA_A_7C_.glif</string>
    <key>uniAA7D</key>
    <string>uniA_A_7D_.glif</string>
    <key>uniAA7E</key>
    <string>uniA_A_7E_.glif</string>
    <key>uniAA7F</key>
    <string>uniA_A_7F_.glif</string>
    <key>uu-myanmar</key>
    <string>uu-myanmar.glif</string>
    <key>uu-myanmar.alt</key>
    <string>uu-myanmar.alt.glif</string>
    <key>uu.indep-myanmar</key>
    <string>uu.indep-myanmar.glif</string>
    <key>virama-myanmar</key>
    <string>virama-myanmar.glif</string>
    <key>visarga-myanmar</key>
    <string>visarga-myanmar.glif</string>
    <key>wa-myanmar</key>
    <string>wa-myanmar.glif</string>
    <key>wa-myanmar.sub</key>
    <string>wa-myanmar.sub.glif</string>
    <key>ya-myanmar</key>
    <string>ya-myanmar.glif</string>
    <key>ya-myanmar.sub</key>
    <string>ya-myanmar.sub.glif</string>
    <key>zero-myanmar</key>
    <string>zero-myanmar.glif</string>
  </dict>
</plist>
